.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--area-door-width);
  height: var(--area-door-height);
  align-items: center;
  margin: 5px;
}

.frame {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  border-left: 5px solid brown;
  border-top: 5px solid brown;
  border-right: 5px solid brown;
  width: 90%;
  background-color: #0005;
}

.door {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 15px;
  background-color: chocolate;
}

.number {
  font-size: 3rem;
}

.floor {
  height: 10px;
  width: 100%;
  background-color: #ddd;
}

.knob {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: brown;
  position: absolute;
  top: calc(0.45 * var(--area-door-height));
  align-self: flex-start;
}

.selected {
  border-color: yellow;
}

.selected .number {
  color: yellow;
}

.selected .knob {
  background-color: yellow;
}
